*, *>* {
	box-sizing: border-box;
	padding: 0.1px;
}
body {
	margin: 0;
	color: #666;
	background-color: #0f0f0f
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
}

#mainContainer {
	position: relative;
	border:  1px solid white;
	width:  800px;
	margin:  0 auto;
}


table {
}
tr td {
	background-color: violet;
	display: inline-block;
	margin:  2px;
}
tr#topHand td {
	background-color: darkorange;
}
#nomansLand {
	padding:  16px;
	display: block;
	background-color: red;
}
.is-hand {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.hp-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.fake-for-height {
	min-height:  100px;
	background-color: transparent;
	display: inline-block;
	margin:  0;
}

.card-content {
	position: relative;
}

.skills-popup {
	position: absolute;
	top:  15px;
	left:  -25px;
	width:  calc(100% + 50px);
	height:  60px;
	background-color: #fcfcfc;
	color:  black;
	box-shadow: 0 0 8px 1px black;
	top:  -1000px;
	opacity:  0;
	transition: opacity  0.4s ease;
}

.card-content:hover .skills-popup,
.card-content .skills-popup.is-showing {
	opacity:  1;
	top:  15px;
}


ul#skills-popup {
	position: absolute;
	top:  50%;
	left:  15%;
	width:  70%;
	height:  150px;
	background-color: white;
	top:  -1000px;
	opacity:  0;
	transition:  opacity 0.2s ease;
}
ul#skills-popup.is-showing {
	opacity:  1;
	top:  50%;
}

#skills-popup li.skill {

}

p#skill-name {

}
p#skill-description {

}
p#skill-details {

}
span#skill-dmg {

}
span#skill-type {

}

